flask
gevent
gunicorn
bokeh
boto
boto3
botocore
enum34
funcsigs
h5py~=3.6.0
html5lib
imagesize
isort
Jinja2
jmespath
joblib
jsonschema
keras~=2.8.0
Markdown
matplotlib
numpy
pandas
pandocfilters
pathlib2
protobuf
Pygments
pyparsing
python-daemon
python-dateutil
PyWavelets
PyYAML
pyzmq
s3transfer
scikit-image
scikit-learn==1.0.2
scipy
seaborn
Sphinx
sphinx-rtd-theme
sphinxcontrib-websupport
subprocess32
sympy
tensorflow~=2.8.0
terminado
testpath
tornado
traitlets
typing
urllib3
webencodings